.output-container {
  caret-color: transparent;
  border: 2px solid black;
  border-radius: 8px;
  width: 200px;
  //height: 80vh;
  min-height: 40px;
  max-height: 80vh;
  overflow: auto;
  margin-inline: auto;
}
